.main1{
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: beige;
position: fixed;
left: 200px;
right: 200px;
border-radius: 10px;
margin-top: 40px;
font-style: italic;
}
body{
    background-color: rgb(146, 189, 175); 
}
button{
    margin-top: 50px;
    margin-left: 200px;
    margin-right:200px ;  
    font-style: italic;  
}
